.about {
  margin: 1em;
  margin-top: 5rem;
}

.about > ul > li {
  line-height: 1.5;
  margin-top: 1rem;
}

@media only screen and (min-width: 680px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .about > * {
    max-width: 800px;
  }
}
