.action {
  margin: 1em;
  margin-top: 5rem;
}

.action > ul > li {
  line-height: 1.5;
  margin-top: 1rem;
}

.subheading {
  font-size: 1.8rem;
  color: #00A752;
}

.appear {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.appear > a {
  color: #137EBB;
  font-size: 1.5rem;
}

.waystohelp > * {
  margin-top: 1rem;
}

@media only screen and (min-width: 680px) {
  .action {
    width: 100%;
    margin-left: 20vw;
    margin-top: 5rem;
  }

  .action > * {
    max-width: 800px;
  }
}
