.action {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.action > ul > li {
  line-height: 1.5;
  margin-top: 1rem;
}

.action > p {
  margin-bottom: 2rem;
}

.bulb {
  width: 80px;
  margin: 1.5rem;
}

.car {
  margin: 0;
  width: 90px;
}

.bus {
  width: 145px;
  margin-bottom: 1rem;
}

.buslane {
  width: 100%;
}

.caption {
  text-align: center;
  margin: 0;
  color: #aaa;
  font-size: .9rem;
}

.heading {
  margin: 0;
  font-size: 1.8rem;
  color: #00A752;
  text-align: center;
}

.calltoaction {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

.calltoaction > a {
  color: #137EBB;
  font-size: 1.5rem;
}

.calendar {
  text-align: center;
  color: #137EBB;
  font-weight: bold;
}

.links > li > a {
  color: #137EBB;
  font-weight: bold;
}

.links > li {
  margin-bottom: .4rem;
}
.waystohelp > * {
  margin-top: 1rem;
}

.contactinfo {
  text-align: left;
  margin-left: 1rem;
}

.contactinfo > a {
  font-weight: bold;
  color: #137EBB;
}

.tweet {
  color: #1DA1F2;
  font-weight: bold;
}

.subheading {
  font-weight: bold;
  font-size: 1.2rem;
}


.template {
  background-color: #f0f0f0;
  margin: .5rem;
  padding: 1rem;
}

@media only screen and (min-width: 680px) {
  .action {
    width: 100%;
    margin-top: 4rem;
  }

  .action > * {
    max-width: 800px;
  }

  .template {
    margin: 1rem;
    padding: 3rem;
  }

  .car {
    transform: unset;
  }

}
